body {
  padding: 0;
  margin: 0;
  font-family: 'Blue Sky Standard-Regular';
}

#service__agreement {
  font-size: 0.16rem;
  padding: 0 0.16rem;
  margin: 0.22rem 0 0.34rem 0;
  text-align: left;
}

span {
  color: #040B29;
  font-weight: 700;
}

h1 {
  font-size: 0.4rem;
  line-height: 0.48rem;
  color: #040B29;
}

h4 {
  font-size: 0.18rem;
  margin: 0.2rem 0;
  color: #040B29;
  font-weight: 500;
}

p,
div,
li {
  font-size: 0.16em;
  line-height: 0.22rem;
  margin: 0;
  color: #040B29;
  word-wrap: break-word;
  word-break: break-all;
}

p {
  margin-bottom: 0.24rem;
}

div {
  margin: 0.1rem 0;
}

a {
  color: #00BEBE;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 2em;
}